
@{
    ViewData["Title"] = "Faq";
}

<!--Page Title-->
        <section class="page-title centred" style="background-image: url(/assets/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>FAQ</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li>FAQ</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->


        <!-- faq-section -->
        <section class="faq-section sec-pad" style="background-image: url(/assets/images/background/faq-1.jpg);">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div id="content_block_4">
                            <div class="content-box">
                                <div class="sec-title">
                                    <p>FAQ’s</p>
                                    <h2>Modern Ice Cream Shop Since 1970</h2>
                                </div>
                                <div class="text">
                                    <p>Our goal each day is to ensure that our residents’ needs are not only met but exceeded. To make that happen we are committed to providing an environment in which residents can enjoy a wide range of amenities that</p>
                                    <p>Allow them to feel independent safe and secure all while having fun! Our amenities include.</p>
                                </div>
                                <div class="btn-box">
                                    <a asp-controller="Home" asp-action="Contact" class="theme-btn-one">Have A Question?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
                        <ul class="accordion-box">
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><i class="icon-Plus"></i></div>
                                    <h4>Is it possible to request custom cakes ?</h4>
                                </div>
                                <div class="acc-content">
                                    <div class="text">
                                        <p>Our goal each day is to ensure that our residents’ needs are not only met.</p>
                                        <h4>Pay System</h4>
                                        <p>Our goal each day is to ensure that our residents’ needs are not only met.</p>
                                        <ul class="list clearfix">
                                            <li>Our goal each day is to ensure</li>
                                            <li>Our goal each day is to ensure</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block active-block">
                                <div class="acc-btn active">
                                    <div class="icon-outer"><i class="icon-Plus"></i></div>
                                    <h4>How to pay a single wedding cake ?</h4>
                                </div>
                                <div class="acc-content current">
                                    <div class="text">
                                        <p>Our goal each day is to ensure that our residents’ needs are not only met.</p>
                                        <h4>Pay System</h4>
                                        <p>Our goal each day is to ensure that our residents’ needs are not only met.</p>
                                        <ul class="list clearfix">
                                            <li>Our goal each day is to ensure</li>
                                            <li>Our goal each day is to ensure</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                 <div class="acc-btn">
                                    <div class="icon-outer"><i class="icon-Plus"></i></div>
                                    <h4>Do you sell also completed food courses ?</h4>
                                </div>
                                <div class="acc-content">
                                    <div class="text">
                                        <p>Our goal each day is to ensure that our residents’ needs are not only met.</p>
                                        <h4>Pay System</h4>
                                        <p>Our goal each day is to ensure that our residents’ needs are not only met.</p>
                                        <ul class="list clearfix">
                                            <li>Our goal each day is to ensure</li>
                                            <li>Our goal each day is to ensure</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                 <div class="acc-btn">
                                    <div class="icon-outer"><i class="icon-Plus"></i></div>
                                    <h4>How can you become your external partner ?</h4>
                                </div>
                                <div class="acc-content">
                                    <div class="text">
                                        <p>Our goal each day is to ensure that our residents’ needs are not only met.</p>
                                        <h4>Pay System</h4>
                                        <p>Our goal each day is to ensure that our residents’ needs are not only met.</p>
                                        <ul class="list clearfix">
                                            <li>Our goal each day is to ensure</li>
                                            <li>Our goal each day is to ensure</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                 <div class="acc-btn">
                                    <div class="icon-outer"><i class="icon-Plus"></i></div>
                                    <h4>Health Care Manager</h4>
                                </div>
                                <div class="acc-content">
                                    <div class="text">
                                        <p>Our goal each day is to ensure that our residents’ needs are not only met.</p>
                                        <h4>Pay System</h4>
                                        <p>Our goal each day is to ensure that our residents’ needs are not only met.</p>
                                        <ul class="list clearfix">
                                            <li>Our goal each day is to ensure</li>
                                            <li>Our goal each day is to ensure</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- faq-section end -->


        
